<%= form_for :session, url: session_path do |form| %>

  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: 'form-control'  %>
  </div>
  
  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control'  %>
  </div>

  <div class = "row mx-auto">
    <div class = 'text-center'>
      <%= form.submit "Enter the garden", class: "mt-2 btn btn-warning" %>
    </div>
  </div>
  
  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>

<% end %>
