<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>

<body style = "background-color: #98FFB3">
  <div class="row" style = "height: 400px;">
    <div class = "col-3">
    </div>

    <div class="col-md-6 bg-white">
      <div class = "row" style = "height: 50px;">

      </div>

      <h1 class='text-center'>Welcome to Plant-Clinique</h1>

      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>



        <div class = "row">
          <div class = "col-md-4">
          </div>
          <div class = "col-md-4">
            <%= f.submit "Enter the Garden", class: " mt-2 btn btn-warning"  %>
          </div>
        </div>
      <% end %>

    </div>
    <div class = "col-3">
    </div>
  </div>
</body>

