<%= form_with(model: reply) do |form| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
        <% reply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="height:55px;"> </div>


  <div class="field">
    <%= form.hidden_field :user_id, value: reply.user_id %>
  </div>

  <div class="field" >
    <%= form.hidden_field :post_id, value: reply.post_id %>
  </div>

  <div class="field" >
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="actions" >
    <%= form.submit %>
  </div>
<% end %>
