<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reply.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @reply.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @reply.body %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @reply.created_at %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', reply_path, class: "mt-2 btn btn-primary" %>
