<%= form_with(model: reminder) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id.to_i%>

<!--
  <div class="field">
    <%= form.label :user_plant_id %>
    <%= form.number_field :user_plant_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>
-->

  <div class="field">
    <%= form.label :Choose_your_plant, style: "color:yellow; font-size: 18px;"%>
    <%= form.select :user_plant_id, @user_plant_dropdown %>
  </div>

  <div class="field">
    <%= form.label :tick_time, style: "color:yellow; font-size: 18px;" %>
    <%= form.time_select :tick_time %>
  </div>

  <div class="field">
    <%= form.label :description, style: "color:yellow; font-size: 18px;" %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :type, style: "color:yellow; font-size: 18px;" %>
    <%= form.select :reminder_type, @reminder_dropdown_list %>
  </div>

  <div class="field">
    <%= form.label :interval, style: "color:yellow; font-size: 18px;" %>
    <%= form.number_field :interval %>
  </div>

  <div class="actions">
    <%= form.submit%> <!-- , class: "btn btn-warning"-->
  </div>
<% end %>
