<p id="notice"><%= notice %></p>

<h1>Reminders</h1>

<table>
  <thead>
    <tr>
      <th>User plant</th>
      <th>User</th>
      <th>Reminder time</th>
      <th>Description</th>
      <th>Rminder Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.user_plant_id %></td>
        <td><%= reminder.user_id %></td>
        <td><%= reminder.tick_time %></td>
        <td><%= reminder.description %></td>
        <td><%= reminder.reminder_type %></td>
        <td><%= link_to 'Show', reminder %></td>
        <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
        <td><%= link_to 'Remove', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reminder', new_reminder_path %>
