<p id="notice"><%= notice %></p>
<div class="row" style="text-align: center;">
  <h1> My Reminders <i class="fa fa-calendar-check" aria-hidden="true"></i></h1>
  <div class="row" style="height:10px;"></div>
  
</div>
<p>The current Date and Time: <span id="datetime"></span></p>


<canvas id="canvas" width="250" height="150" class="clock" style="position: absolute; right: 0px; top: 125px;"></canvas>


<div class="row">
  <div class="col-6">
      <div class="dropdown ">

        <button onclick="myFunction()" class="rounded dropbtn " style="margin: auto;width: 30%;border: 3px solid green;padding: 10px;">
          View By Type
        </button>

        <div id="myDropdown" class="rounded dropdown-content">
          <% @reminder_dropdown_list.each do |reminder_type| %>
            <%= form_tag reminders_path, :method => 'get' do %>
              <%= hidden_field_tag :reminder_type, reminder_type%>
              <%= submit_tag(reminder_type, class: "dropdown-content-button") %>
            <% end %>
          <% end %>
          <%= form_tag reminders_path, :method => 'get' do %>
            <%= submit_tag("All", class: "dropdown-content-button") %>
          <% end %>
        </div>
        <a class='pl-3 text-muted'> Currently viewing <%= @current_category %> </a>
      </div>
  </div>

  
</div>

<hr>

<div class="new" style="margin: 5px;">
      <%= link_to 'New Reminder', new_reminder_path, class: "btn btn-secondary text-light"%>
  </div>

<div class= "mb-5">

  <% if @reminders.first.nil? %>
    <h4 class="text-danger pt-4"> You have no reminders </h4>
  <% end %>
  <% @reminders.each do |reminder| %>
    <div class="card mt-3" style="box-shadow: 0px 4px 10px grey; background: white;">
      <div class="card-body">
        <h5 class="card-title">My Reminder about: <%= link_to reminder.user_plant.name, reminder %></h5>
        <p class="card-text font-weight-bold">
            <%= reminder.description %>
          <!--<= "| Edited" if reminder edited?>-->
        </p>
        <%= link_to 'Details', reminder, class: "btn btn-success btn-sm button-right", style: "margin-left :5px; color:white;"%>
        <%= link_to 'Edit', edit_reminder_path(reminder), class: "btn btn-success btn-sm button-right", style: "margin-left :5px;color:white;"%>
        <%= link_to 'Remove', reminder, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success btn-sm button-right", style: "margin-left :5px;color:white;"%>

      </div>
    </div>
  <% end %>
</div>

<!-- <= paginate @reminders > -->

<div style="height:600px;"></div>

 <%= javascript_pack_tag 'clock_reminders' %>


