<p id="notice"><%= notice %></p>

<p>
  <strong>User plant:</strong>
  <%= @reminder.user_plant_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reminder.user_id %>
</p>

<p>
  <strong>Tick time:</strong>
  <%= @reminder.tick_time %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @reminder.interval %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reminder.description %>
</p>

<p>
  <strong>Reminder Type:</strong>
  <%= @reminder.reminder_type %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
