<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      </div>
      <ul>
        <% user.errors.each do |error| %>
          <li class='text-danger'><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="m-2 text-field">
    <%= form.label :username %>
    <%= form.text_field :username, class: 'mb-1 form-control'  %>
  </div>

  <div class="m-2 email-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: 'mb-1 form-control'  %>
  </div>

  <div class="m-2 password-field">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'mb-1 form-control'  %>
  </div>

  <div class = "m-2 row">
    <div class = 'text-center'>
      <%= form.submit "Create my account", class: "mt-2 btn btn-warning" %>
    </div>
  </div>

  <div class="m-2 mb-4 other-links">
    <%= link_to 'Back', sign_in_path %>
  </div>

        
<% end %>