<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>

<body style = "background-color: #98FFB3">
  <div class="row" style = "height: 480px;">
    <div class = "col-3">
    </div>

    <div class="col-md-6 bg-white">

      <div class = "row text-center" style = "height: 50px;">
      </div>

        <h1 class='text-center'>Sign up</h1>

        <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'mb-1 form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'mb-1 form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'mb-1 form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'mb-1 form-control' %>
        
        <div class = "row">
          <div class = "col-md-4">
          </div>
          <div class = 'text-center'>
            <%= f.submit "Create my account", class: "mt-2 btn btn-warning" %>
          </div>
          <div class = "col-md-4">
          </div>
        </div>

        <% end %>
    </div>
  </div>
<body>

