<!DOCTYPE html>
<html>

<p id="notice"><%= notice %></p>

<!-->
<link id="pagestyle" rel="stylesheet" type="text/css" href="css/show/application.css" media="screen"/>


<script type="text/javascript">
    function swapStyleSheet(pagesheet, headsheet){
        document.getElementById('pagestyle').setAttribute('href',pagesheet);
        document.getElementById('headstyle').setAttribute('href',headsheet);
    }
</script>
-->

<!--<button type="button" ><!--onClick="swapStyleSheet('css/show/application_dark.css','css/show/application.css')">
  <link rel="stylesheet" href="application_dark.css">
  Dark Theme
</button>

<button type="button" ><!--onClick="swapStyleSheet('css/show/application.css','css/show/application_dark.css')">
  <link rel="stylesheet" href="application.css">
  Light Theme
</button>-->

<div class="row" style = "height: 10px;"> </div>

<!-- Design inspired from https://www.hotjar.com/  template i randomly found-->
<div class="jumbotron bg-white" style="box-shadow: 0px 10px 10px grey; border-radius: 70px;">
  <div class="container text-center text-lg-left">
    <div class="row">
      <div class="col-lg-8">
          <h1 class="display-4" style="text-align:center;">Welcome to the Garden, 
            <span class="highlight-word">
              <strong> <%= current_user.username %>!</strong> 
              <!-- if current_user.is_verified?>
                <img src="..\app\assets\images\pro_account.jpeg" class=" img-responsive" style= "height: 100px; width: 100px; object-fit: cover;" >
              < end > -->
            </span>
            <li class="nav-link <%= 'active' if current_page?(chatbot_messages_path) %> nav-item">
            </li>
          </h1>
          <div class = "row">
            <div class = "col">
              <div class = "row justify-content-center" style = "height: 50px; font-size: large;">
                <h5>Plants Owned: <span class = "badge badge-secondary"><%= current_user.user_plants.count%></span></h5>
              </div>
              <div class = "row justify-content-center" style = "height: 50px; font-size: large;">
                <h5>Unread Messages: <span class = "badge badge-secondary">0</span></h5>
              </div>
            </div>
            <div class = "col">
              <div class = "row justify-content-center" style = "height: 50px; font-size: large;">
                <h5>Water Notifications: <span class = "badge badge-secondary">0</span></h5>
              </div>
              <div class = "row justify-content-center" style = "height: 50px;font-size: large;">
                <h5>Soil Notifications: <span class = "badge badge-secondary">0</span></h5>
              </div>
            </div>
          </div>
          
          <div class = "row justify-content-center" >

            <span class="text-center d-inline-block " >
              <a class="btn btn-warning btn-lg w-100 text-dark" href="#" role="button">
                Have a question?
              </a>
              <p class="text-muted">Have plant experts answer your questions on our forum.</p>
            </span>
            
             <span class="text-center d-inline-block ">
              <div class = "col">

                <div class="button-right">
                  <%= link_to 'Add plant', new_user_plant_path, class: 'btn btn-warning text-dark ' %> 
                </div>

                <div class="button-right">
                  <%= link_to 'Edit User Info', edit_user_path(@user), class: 'btn btn-warning text-dark ' %> 
                </div>
        
                <div class="button-right">
                  <%= link_to 'Milestones', "/", class: 'btn btn-warning text-dark ' %> 
                </div>
                </button>
              </div>
            </span>
          </div>            
        </div>
      <div class="col-lg-4 align-items-center d-flex">
        <%= image_tag @user.gravatar_url(:email => @user.email)%>
      </div>
    </div>
  </div>
</div>

  <!-- [What you are working on] !!!!!The code for the plant panel stuff-->
  <div class = "row">
    <% if UserPlant.where(user_id: current_user.id.to_i).empty? %>
      <p>
        <strong> You dont have any plant yet, would you like to add some? </strong>
      </p>
    <% else %>
      <% UserPlant.where(user_id: current_user.id.to_i).each do |plant| %>
        <div class = "col-4" >
          <div class="card text-center border-success mb-3" style="box-shadow: 0px 10px 10px grey; border-radius: 20px;">
            <img class="card-img-top-center img-fluid min-width: 200px !important;" src=<%= "#{plant.img_url}" %>  alt="Picture for this plant" style= "height: 200px; object-fit: cover; border-radius: 20px 20px 0px 0px;">
            <div class="card-body" >
              <h4 class="card-title"> <%="#{plant.name}"%> </h4>
              <p class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <i class="fas fa-clock text-success mx-2"></i>
                    <%= "Age: #{plant.age}" %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-tree text-success mx-2"></i>
                    <%= "Type: #{plant.plant_type}" %>
                  </li>
                  <li class="list-group-item">
                  <i class="fas fa-seedling text-success mx-2"></i>
                    <%= "Birth: #{plant.created_at}" %>
                  </li>
                </ul>    
                <div class = "row justify-content-center">
                  <div class = "box" style="overflow:hidden;">
                    <p>
                      <%= "Description: #{plant.description}" %>
                    <p>
                  </div>
                </div>
                <div class = "row">
                </div>
              </p>
              <a>
                <div class="btn btn-warning">
                  <%= link_to 'Remove', plant, method: :delete, class: "text-dark", data: { confirm: 'Are you sure?' } %> 
                  |
                  <%= link_to 'Edit', edit_user_plant_path(plant), class: 'text-dark'%>
                </div>
                <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content= "<%= "#{plant.description}"%>">
                  <i class="fas fa-tree text-success mx-2"></i>
                </button>
                <!--Card hover class =  stretched-link -->
              </a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row" style = "height: 350px;">
  </div>
</html>
