<!DOCTYPE html>
<html>

<p id="notice"><%= notice %></p>

<div class="row" style = "height: 10px;"> </div>

<!-- Design inspired from https://www.hotjar.com/  template i randomly found-->
<div class="jumbotron bg-white leaf-background" style="box-shadow: 0px 10px 10px grey; border-radius: 70px; border: 3px solid green">
  <div class="container text-center text-lg-left">
    <div class="row">
      <div class="col-lg-8">
          <h1 class="display-4" style="text-align:center;">Welcome to the Garden, 
            <span class="highlight-word">
              <strong> <%= current_user.username %>!</strong> 
            </span>
          </h1>
          <div class = "row">

            <div class = "col">
              <div class = "row justify-content-center" style = "height: 50px; font-size: large;">
                <h5>Plants Owned: <span class = "badge badge-secondary"><%= current_user.user_plants.count%></span></h5>
              </div>
              <div class = "row justify-content-center" style = "height: 50px; font-size: large;">
                <h5>Water Reminders: <span class = "badge badge-secondary"><%= current_user.reminders.where(reminder_type: 0).count%></span></h5>
              </div>
            </div>

            <div class = "col">
              <div class = "row justify-content-center" style = "height: 50px; font-size: large;">
                <h5>Trim Reminders: <span class = "badge badge-secondary"><%= current_user.reminders.where(reminder_type: 1).count%></span></h5>
              </div>
              <div class = "row justify-content-center" style = "height: 50px;font-size: large;">
                <h5>Fertilizer Reminders: <span class = "badge badge-secondary"><%= current_user.reminders.where(reminder_type: 2).count%></span></h5>
              </div>
            </div>
          </div>

          <div class = "row justify-content-center">
            <span class="text-center d-inline-block">
              <%= button_to 'Have a question?', new_post_path, method: :get, class: "btn btn-lg w-100 text-light", style: "background-color: #537A5A;"%>
              <p class="text-muted">Have plant experts answer your questions on our forum.</p>
            </span>
          </div>  

          <div class = "row justify-content-center button-row-show" style="text-align: center;">
              <div class = "col-md-auto">
                <div class = "row">
                  <%= button_to new_user_plant_path, method: :get, class: "btn btn-secondary text-light space" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 20 20">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                  </svg> Add Plant
                  <% end %>
                  <%= button_to edit_user_path(@user), method: :get, class: "btn btn-secondary text-light space" do %>
                    Edit User Info
                  <% end %>

                  <%= button_to new_reminder_path, method: :get, class: "btn btn-secondary text-light space" do %>
                    Add Reminder
                  <% end %>

                  <%= button_to reminders_path, method: :get, class: "btn btn-secondary text-light space" do %>
                    All Reminders
                  <% end %>

                </div>
              </div>
            
          </div> 
          <!--
          <div >
            <div >
                <div class = "row justify-content-center">

                  <button onclick="myFunction()" class="dropbtn col-md-auto" style="text-align: center; border: 3px solid green; border-radius: 10px;">
                    Options
                  </button>

                  <div id="myDropdown" class="dropdown-content ">
                    <a href= new_user_plant_path> Add Plant </a>
                    <a href= edit_user_path(@user)> Edit Info </a>
                    <a href= new_reminder_path> Add Reminder </a>
                    <a href= reminders_path> Show Reminders </a>
                  </div>
                </div>
            </div>
          </div>
          -->

        </div>
      <div class="col-lg-4 align-items-center d-flex" style="position: relative; border-radius: 50%;">
        <%= image_tag @user.gravatar_url(:email => @user.email), style: "border-radius: 50%;"%>
      </div>
    </div>
  </div>
</div>

  <div class = "row plant-item">
    <% if UserPlant.where(user_id: current_user.id.to_i).empty? %>
      <p>
        <strong> You dont have any plant yet, would you like to add some? </strong>
      </p>
    <% else %>
      <% UserPlant.where(user_id: current_user.id.to_i).each do |plant| %>

        <div class = "plant-item col-4 " >
          <div class="card text-center border-success mb-3" style="box-shadow: 0px 10px 10px grey; border-radius: 20px; ">
            <img class="card-img-top-center img-fluid min-width: 200px !important;" src=<%= "#{plant.img_url}" %>  alt="Picture for this plant" style= "height: 200px; object-fit: cover; border-radius: 20px 20px 0px 0px;">
            <div class="card-body" >
              <h4 class="card-title"> <%="#{plant.name}"%> </h4>
              <p class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <i class="fas fa-clock text-success mx-2"></i>
                    <%= "Age: #{plant.age}" %>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-tree text-success mx-2"></i>
                    <%= "Type: #{PlantType.where(trefle_id: plant.plant_type).first.name}" %>
                  </li>
                  <li class="list-group-item">
                  <i class="fas fa-seedling text-success mx-2"></i>
                    <%= "Birth: #{plant.created_at}" %>
                  </li>
                </ul>    
                <div class = "row justify-content-center">
                  <div class = "box" style="overflow:hidden;">
                    <p>
                      <%= "Description: #{plant.description}" %>
                    <p>
                  </div>
                </div>
                <div class = "row"></div>
              </p>
              <a>
                <div>
                  <%= link_to 'Remove', plant, method: :delete, class: "text-light btn ", style:"background-color: #537A5A;", data: { confirm: 'Are you sure?' } %> 
                  <%= link_to 'Edit', edit_user_plant_path(plant), class: 'text-dark btn btn-warning'%>
                  <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content= "<%= "#{plant.description}"%>">
                    <i class="fas fa-tree text-success mx-2"></i>
                  </button>
                </div>
                <!--Card hover class =  stretched-link -->
              </a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
  });
</script>


<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

  <h2 style="padding: 10px;">Posts related to your plants:</h2>
  <% if @related_posts.empty?%>
    <h4 class="text-danger " style="text-align: right;">No related posts were found for any of your plants</h4>
  <% else %>
    <div class= "mb-5">
      <% @related_posts.each do |post| %>
        <div class="card mt-3" style="box-shadow: 0px 4px 10px grey; background: white;">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
            <p class="card-text font-weight-bold">
                <%= post.user.username %>
              | <%= post.created_at %>
              | <%= post.replies.length %> Replies
              <%= "| Edited" if post.edited?%>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row" style = "height: 350px;"></div>

  <script>

  $(window).resize(function() {

  if ($(this).width() < 1024) {
    $('.dropdown').show();
    $('.plant-item').hide();
    $('.button-row-show').hide();
  } else {
    $('.button-row-show').show();
    $('.dropdown').hide();
    $('.plant-item').show();
    

    }

});
</script>

<script>
if ($(this).width() < 1024) {
  $('.button-row-show').hide(); 
  $('.dropdown').show(); 
}
else  {
  $('.button-row-show').show(); 
  $('.dropdown').hide(); 
}
</script>


<!--
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
<script>  
  $(function () {
    $('.example-popover').popover({
      container: 'body'
    })
  })
</script>
 -->

</html>
