<p id="notice"><%= notice %></p>

<p>
  <strong>Hi <%= @user.username %> </strong>
</p>

<div>
<% if UserPlant.where(user_id: current_user.id.to_i).empty? %>
  <p>
    <strong> You don't have any plant yet, would you like to add some? </strong>
  </p>
<% else %>
  <% UserPlant.where(user_id: current_user.id.to_i).each do |plant| %>
    <p>
      <li><%= "Plant name: #{plant.name}" %></li>
      <li><%= "Plant age: #{plant.age}" %></li>
      <li><%= "Type #{plant.plant_type}" %></li>
      <li><img src=<%= "#{plant.img_url}" %> alt="Picture for this plant"></li>
      <li><%= "Description: #{plant.description}" %></li>
      <li><%= link_to 'Destroy', current_user.user_plants.find(plant.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </p>
  <% end %>
<% end %>
</div>

<button><%= link_to 'Add plant', new_user_plant_path%></button>

| <%= link_to 'Edit User Info', edit_user_path(@user) %> 
<%#= link_to 'Back', users_path %>
