<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.username %>
</p>
<div>
<%# UserPlant.where(user_id: current_user.id.to_i).each do |plant| %>

<% UserPlant.where(user_id: '13'.to_i).each do |plant| %>
  <p>
    <li><%= "Plant age: #{plant.age}" %></li>
    <li><%= "Type #{plant.plant_type}" %></li>
    <li><img src=<%= "#{plant.img_url}" %> alt="Picture for this plant"></li>
    <li><%= "Description: #{plant.description}" %></li>
  </p>
<% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
