<!DOCTYPE HTML>
<html>
<head>
<style>
#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
</style>
</head>
<body>

<%= form_with(model: user_plant) do |form| %>
  <% if user_plant.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h2><%= pluralize(user_plant.errors.count, "error") %> prohibited this user from being saved:</h2>
      </div>
      <ul>
        <% user_plant.errors.each do |error| %>
          <li class='text-danger'><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id.to_i%>

  <div class="m-2 text-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="m-2 text-field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="m-2 text-field" style="width:30%;">
    <%= form.label :plant_type %>
    <%= form.select(:plant_type, options_for_select(PlantType.all.map{|plant| [plant.name, plant.trefle_id]}), {:include_blank => "Select a plant type"}, {:class => 'bg-white js-states text-field', :id => 'single'})%>
  </div>


  <script>
    $("#single").select2({
        placeholder: "Select a plant type",
        allowClear: true
    });
  </script>
  <div class="m-2 text-field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="m-2 submit-field">
    <%= form.submit "Save", class: "mt-2 btn text-dark", style: "background-color: #9AE19D;" %>
  </div>
<% end %>


</body>