<script type="text/javascript">
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});

function formatState (state) {
  if (!state.id) {
    return state.text;
  }
  var $state = $(
    '<span>' + state.text + '</span>'
  );
  return $state;
};

$(".js-example-templating").select2({
  templateResult: formatState
});
</script>

<%= form_with(model: user_plant) do |form| %>
  <% if user_plant.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h2><%= pluralize(user_plant.errors.count, "error") %> prohibited this user from being saved:</h2>
      </div>
      <ul>
        <% user_plant.errors.each do |error| %>
          <li class='text-danger'><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id.to_i%>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :plant_type %>
    <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
      <%= form.text_field :plant_type %>
    </select>
  </div>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
