<nav class="navbar p-3 mb-4 bg-warning">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="header">Plant-Clinique</div>
        </div>
        <ul class="nav navbar-right">
          <li  class = "active"><u><%= link_to "My Account", users_path, class: "mx-2 " %></li>
          <!--<li> <%= link_to "UserPlant", user_plants_path , class: "mx-2 "%></li>-->
          <!-- <li> <%= link_to "Reminder", reminders_path, class: "mx-2 " %></li>-->
          <!--<li> <%= link_to "Post", posts_path, class: "mx-2 " %></li>-->
          <!--<li> <%= link_to "Reply", replies_path, class: "mx-2 " %></li>-->
          <li  ><u><%= link_to "Chatbot", chatbot_messages_path, class: "mx-2 " %></u></li>
          <% if signed_in? %>
            <li ><u><%= link_to 'Sign out', sign_out_path, method: :delete, class: "mx-2" %></u></li>
          <% else %>
            <li ><u><%= link_to 'Sign in', sign_in_path, class: "mx-2 " %></u></li>
          <% end %>
        </ul>
        
      </div>
    </nav>

<p id="notice"><%= notice %></p>

<h1>User Plants</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Age</th>
      <th>Plant type</th>
      <th>Img url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_plants.each do |user_plant| %>
      <tr>
        <td><%= user_plant.user_id %></td>
        <td><%= user_plant.name %></td>
        <td><%= user_plant.age %></td>
        <td><%= user_plant.plant_type %></td>
        <td><%= user_plant.img_url %></td>
        <td><%= user_plant.description %></td>
        <td><%= link_to 'Show', user_plant %></td>
        <td><%= link_to 'Edit', edit_user_plant_path(user_plant) %></td>
        <td><%= link_to 'Destroy', user_plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Plant', new_user_plant_path %>
