<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row" style = "height: 480px;">
<div class = "col-2">
</div>


<div class="col-sm-8", style="background-color=#DADCD7">
<div class="chatbody">
<div class="panel panel-success">
<div class="panel-heading top-bar">
      
<div>
  <h3 class="text-center">
  
    <span class="glyphicon glyphicon-comment"></span> 
    Plant-Clinique Chatbot
  </h3>
</div>

</div>


  <tbody>
    <% @chatbot_messages.where(user_id: current_user.id.to_i).each do |chatbot_message| %>  
        <tr>
          <% if chatbot_message.from_bot == true %>
            <div class="row msg_container base_sent pr-5 ">
            <div class=" avatar">
              <img src="https://compote.slate.com/images/995b8efe-b37b-4dc5-b9c3-e2d9e8fb2df9.gif?width=1440&rect=1560x1040&offset=0x0" class=" img-responsive" style= "height: 100px; width: 100px; object-fit: cover;" >
            </div>
            <div class="col-md-3 col-xs-3">
            <div class="messages msg_sent">      
            <td class="th">Farmer Bot</td>

          <% else %>
            <div class="panel-body msg_container base_receive">
            <div class="col-md-2 col-xs-2 avatar_2">
              <img style="clear: right;" src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png" class=" img-responsive ">
            </div>
            <div class="col-md-3 col-xs-3">
            <div class="messages msg_receive">
            <td class="td"><%= chatbot_message.user.username.capitalize%></td>

          <% end %>
          <td ><%= "sent: " + chatbot_message.content %></td><br>
          <td class="time_time"><%="@"+chatbot_message.time_sent.to_s %></td>
        </tr>
      </div>
    </div>
  </div>
  <% end %>
</tbody>

<tr scope="row">
  <td colspan="3">
    
      <div class = "row mx-auto">
        <div class = 'actions text-center button-box col-lg-12'>
            <% create_options(ChatbotMessage.where(user_id: current_user.id.to_i, from_bot: true).last).each do |option| %>
              <%= form_with(model: @chatbot_message) do |form| %>
                <%= form.hidden_field :user_id, value: current_user.id.to_i %>
                <%= form.hidden_field :time_sent, value: Time.now.utc %>
                <%= form.hidden_field :from_bot, value: false %>
                <%= form.hidden_field :content, value: option %>
                <a><%= form.submit option, class: "mt-2 btn btn-info text-light" %></a>
             <% end %>
            <% end %>
        </div>
      </div>

    <%= form_with(model: @chatbot_message) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id.to_i %>
      <%= form.hidden_field :time_sent, value: Time.now.utc %>
      <%= form.hidden_field :from_bot, value: false %>
      <div class="text-field container">
        <%= form.text_field :content, class: 'mb-1 form-control'  %>
      </div>
    
      <div class = "row mx-auto container">
        <div class = 'actions text-center'>
          <%= form.submit "Send", class: "mt-2 btn btn-warning text-dark" %>
        </div>
      </div>
    <% end %>
  </td>
</tr>