<p id="notice"><%= notice %></p>



<table class="table bg-light mx-auto" style="width: 700px;">
  <thead class="bg-primary text-light">
    <tr>
      <th class="text-center" colspan="3">Plant-Clinique Chatbot</th>
    </tr>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Time sent</th>
      <th scope="col">Content</th>
    </tr>
  </thead>

  <tbody>
    <% @chatbot_messages.each do |chatbot_message| %>
      <% if chatbot_message.user_id.to_i == current_user.id.to_i %>
        <tr scope="row">
          <% if chatbot_message.from_bot == true %>
            <td>Plant Bot</td>
          <% else %>
            <td><%= chatbot_message.user.username.capitalize %></td>
          <% end %>
          <td><%= chatbot_message.time_sent %></td>
          <td><%= chatbot_message.content %></td>
        </tr>
      <% end %>
    <% end %>
    <tr scope="row"> 
      <td colspan="3">
      <%= form_with(model: @chatbot_message) do |form| %>

        <%= hidden_field_tag :user_id, current_user.id.to_i %>
        <%= hidden_field_tag :time_sent, Time.now.utc%>
        <%= hidden_field_tag :from_bot, false %>
       
        <div class = "row mx-auto">
          <div class = 'actions text-center button-box col-lg-12'>
            <% create_options(ChatbotMessage.where(user_id: current_user.id.to_i, from_bot: true).last).each do |option| %>
              <%= hidden_field_tag :content, option %>
              <a><%= form.submit option, class: "mt-2 btn btn-primary text-light" %></a>
            <% end %>
          </div>
        </div> 
        <div class="text-field">
          <%= form.text_field :content, class: 'mb-1 form-control'  %>
        </div>
        
        <div class = "row mx-auto">
          <div class = 'actions text-center'>
            <%= form.submit "Send", class: "mt-2 btn btn-primary text-light" %>
          </div>
        </div>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
