<div style="height:50px;"></div>

<div class="notifications row" style="background-color: white;" >
  <div class="heading clearfix">
    <h1><%= t('notifications.all_notifications') %></h1>

    <span class="pull-xs-right" >
      <%= link_to t('notifications.clean_all'), notifications.clean_notifications_path, class: 'btn btn-sm btn-secondary text-light', method: 'delete' %>
    </span>
  </div>
  <div class="list ">
    <% if @notifications.blank? %>
      <div class="no-records center">
        You Currently Have <%= t('notifications.no_records') %>
      </div>
    <% else %>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group">
          <div class="group-title "><%= group %></div>
          <%= render notifications %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @notifications %>
</div>

<div style="height:800px;"></div>
