<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h4 class="text-danger"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul class="list-group">
        <% post.errors.full_messages.each do |message| %>
          <li class="list-group-item list-group-item-danger"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id.to_i%>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :topic %>
    <%= form.select(:topic, options_for_select(Post.topics.keys.map{|key| [key.capitalize.gsub(/[^0-9A-Za-z]/, ' '), Post.topics[key]]}), {:include_blank => "Select a topic"}, {:class => 'form-control'})%>
  </div>

  <%= form.submit "Save Post", class: 'btn text-light',  style: "background-color: #537A5A"  %>
<% end %>