<div class="card my-5">
  <div class="card-body">
    <p id="notice"><%= notice %></p>

    <h1 class="text-center"><%= @post.title %></h1>
    <hr>
    <p>
      <a class="text-danger"><%= Post.topics.keys[@post.topic.to_i].capitalize.gsub(/[^0-9A-Za-z]/, ' ') %></a>
      | By <%= @post.user.username %>
      | <%= @post.created_at %>
      | <%= @post.replies.length %> Replies
    </p>
    <div class="my-4">
      <%= simple_format(@post.body) %>
    </div>

    <%= link_to 'Back', posts_path, class: 'btn btn-light' %>
  </div>
</div>