<div class="card mt-5 mb-4" style="box-shadow: 0px 10px 10px grey; background-color: white; border-radius: 20px;">
  <div class="card-body">
    <%= link_to 'Back', posts_path, class: 'btn btn-dark text-light mr-1' %>
    <% if @post.user.id == current_user.id %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning mx-1 text-dark' %>
    <% end %>
    <%= form_tag posts_path, :class=>"badge", :method => 'get' do %>
      <%= hidden_field_tag :search, @post.topic%>
      <%= submit_tag(get_topic_from_id(@post.topic), :class=>"btn bg-success px-5 text-light") %>
    <% end %>
    
    <p class="ml-3" id="notice"><%= notice %></p>

    <h1 class="text-center"><%= @post.title %></h1>
    <hr>
    <div class="font-weight-bold">
        <%= @post.user.username %>
      | <%= @post.created_at %>
      | <%= @post.replies.length %> Replies
      <%= "| edited at: #{@post.edited_at}" if @post.edited?%>
    </div>
    <div class="my-4">
      <%= @post.body %>
    </div>
    
  </div>
</div>
<% if @post.replies.any? %>

  <% @post.replies.each do |reply| %>
  <div class="card mt-3" style="box-shadow: 0px 4px 10px grey; background-color: #A8A8A8; border-radius: 20px;">
    <div class="card-body">
      <div class="button-right-up">
        <% if reply.user.id == current_user.id %>
          <%= link_to 'Edit', edit_reply_path(reply), class: 'btn btn-warning mx-1 text-dark'%>
        <% end %>
      </div>
      <p class="font-weight-bold"><%= reply.user.username%> | <%= reply.created_at%></p>
        
      <%= reply.body %>
    </div>
  </div>
  <% end %>
<% end %>

<div class="card mt-3 mb-5 text-light" style="box-shadow: 0px 4px 10px grey; background-color: #A8A8A8	">
  <div class="card-body" >
    <p class="font-weight-bold" style="font-size: 20px;">New comment</p>
    <%= form_with(model: [@post, @post.replies.build]) do |form| %>
      <div class="form-group">
        <%= form.hidden_field :user_id, value: current_user.id.to_i%>
        <%= form.label 'Write your comment below' %>
        <%= form.text_area :body, class: 'form-control' %>
      </div>
      <%= form.submit 'Post Reply', class: 'btn text-light',  style: "background-color: #537A5A"  %>
    <% end %>
  </div>
</div>

<div style="height:150px;"> </div>
