  
<div class="row bg-light rounded p-3">
  <div class="col">
    
  </div>
  <div class="col-9 pb-5">
    <h2 class="text-center p-4">
      Hi, <%= current_user.username %>!
      <br>    
      <%= @prompt %>
    </h2>
    <!-- Buttons take to the next step (check steps over at app/controllers/chatbot_steps_controller.rb) -->
    <div class="row">
      <div class="col">
        <%= button_to 'Symptom Assessment', wizard_path(:choose_plant), {class: "btn btn-primary btn-lg btn-block", method: "get"}%>
      </div>
      <div class="col">
        <%= button_to 'Check History', chatbot_messages_path, {class: "btn btn-primary btn-lg btn-block", method: "get"} %>
      </div>
      <div class="col">
        <!-- Replace :choose_plant with the correct path when you enable this button -->
        <%= button_to 'General Question', wizard_path(:choose_plant), {class: "btn btn-primary btn-lg btn-block", method: "get", disabled: true} %>
      </div>
    </div>
  </div>
  <div class="col">
    
  </div>
</div>

