<div class="row" style="height: 100px;"> </div>

<div class="row bg-white" style="border-radius: 50px; text-align: center; height: 350px; border: 3px solid green; " >

  <div class="col vertical-center " style="padding: 20px;">
    <%= button_to 'Restart', wizard_path(:choose_visit_type), {class: "btn btn-dark btn-sm", method: "get"}%>
  </div>

  <div class="col-9 pb-5 bg-r-plant">
    <h2 class="text-center p-4" style="text-shadow: 2px 2px yellow;">
      Hi, <%= current_user.username %>!
      <br>    
      <%= @prompt %>
    </h2>
    <!-- Buttons take to the next step (check steps over at app/controllers/chatbot_steps_controller.rb) -->
    <div class="row">
      <div class="col m-1">
        <%= button_to 'Symptom Assessment', wizard_path(:choose_plant), {class: "btn text-light btn-lg btn-block", method: "get", style: "background-color: #537A5A"}%>
      </div>
      <div class="col m-1">
        <%= button_to 'Check History', chatbot_messages_path, {class: "btn text-light btn-lg btn-block", method: "get", style: "background-color: #537A5A"} %>
      </div>
      <div class="col m-1">
        <!-- Replace :choose_plant with the correct path when you enable this button -->
        <%= button_to 'General Question', new_post_path, {class: "btn text-light btn-lg btn-block", method: "get", style: "background-color: #537A5A"} %>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

 <div style="height: 500px"></div>



