
  
<div class="row bg-light rounded p-3">
  <div class="col">
  </div>
  <div class="col-6 pb-5">
    <h2 class="text-center p-4">
      Which plant do you want to check in today?
    </h2>
    <!-- Buttons take to the next step (check steps over at app/controllers/chatbot_steps_controller.rb) -->
    <% @user_plants.each do |option| %>
      <%= form_with(model: @chatbot_message,url: next_wizard_path, method: :put) do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id.to_i %>
        <%= form.hidden_field :time_sent, value: Time.now.utc %>
        <%= form.hidden_field :from_bot, value: false %>
        <%= form.hidden_field :plant_id, value: option.id %>
        <%= form.hidden_field :content, value: option.name%>
        <a><%= form.submit option.name, class: "mt-2 btn btn-info text-light" %></a>
      <% end %>
    <% end %>
    <br>
    <%= link_to 'Add new plant', new_user_plant_path, class: "mt-2 btn btn-warning"  %>
  </div>
  <div class="col">
    
  </div>
</div>