
  
<div class="row bg-light rounded p-3">
  <div class="col">
    <%= button_to 'Go back', wizard_path(:choose_plant), {class: "btn btn-dark btn-sm", method: "get"}%>
  </div>
  <div class="col-6 pb-5">
    <h2 class="text-center p-4">
      Symptom Assessment
    </h2>
    <!-- Buttons take to the next step (check steps over at app/controllers/chatbot_steps_controller.rb) -->
    <%= "You chose #{@plant}"%>
    <% question %>
    <% @options.each do |option| %>
      <%= form_with(model: @chatbot_message,url: next_wizard_path, method: :put) do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id.to_i %>
        <%= form.hidden_field :time_sent, value: Time.now.utc %>
        <%= form.hidden_field :from_bot, value: false %>
        <%= form.hidden_field :plant_id, value: option.id %>
        <a><%= form.submit option.name, class: "mt-2 btn btn-info text-light" %></a>
      <% end %>
    <% end %>
  </div>
  <div class="col">
    
  </div>
</div>