<!DOCTYPE html>
<html>
  <head>
    <title>Plant-Clinique</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <meta charset="utf-8">
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <meta charset='utf-8' />
    <!-- Import Mapbox GL JS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Import jQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <!-- Map gecoder -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
  </head>

  <body >
    <nav class="navbar p-3 mb-4 bg-warning ">
      <div class="container-fluid">
        <div class="navbar-header ">
          <div class="header">
          <li class="nav-link header" %>
            <i class="fa fa-leaf" style="color:green;" aria-hidden="true" ></i>
              <%= link_to "Plant-Clinique", current_user, class: "mx-2 " , style: "color: brown; font-size: 30px; font-weight: bold; font-family: 'Brush Script MT', cursive;"%>
            <i class="fa fa-leaf" style="color:green;"aria-hidden="true" ></i>
          </li>
          </div>
        </div>

                
    <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
 old 
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <body style="background-color: #98FFB3;">
    <nav class="navbar p-3 mb-4 bg-warning">
      <div class="container-fluid">
        <div class="navbar-header ">
          <div class="header">
          <li class="nav-link header" %>
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <%= link_to "Plant Clinique", current_user, class: "mx-2 " , style: "color:brown;"%>
          <i class="fa fa-leaf" aria-hidden="true"></i>
          </li>
          </div>
        </div> -->
        <ul class="nav navbar-right">
          <% if signed_in? %>

            <li class="nav-link <%= 'active' if current_page?(posts_path) %> nav-item">
              <i class="fa fa-comments" aria-hidden="true"></i><%= link_to "Posts", posts_path, class: "mx-2 " %>
            </li>

            <!--<li class="nav-link <%= 'active' if current_page?("/") %> nav-item">
              <i class="fa fa-trophy" aria-hidden="true"></i> <%= link_to "Weekly Contest", "#", class: "mx-2 " %>
            </li>  https://www.gardenista.com/tag/contests-giveaways/ 

            <li class="nav-link <%= 'active' if current_page?(posts_path) %> nav-item">
              <%= link_to "Reply", posts_path, class: "mx-2 " %>
            </li>-->

            <li class="nav-link
              <%= 'active' if current_page?("/chatbot_steps/choose_visit_type")%> 
              <%= 'active' if current_page?("/chatbot_steps/answer_symptom_questions")%>
              <%= 'active' if current_page?("/chatbot_steps/choose_plant")%>
              <%= 'active' if current_page?("/chatbot_steps/display_possible_treatments")%>
              <%= 'active' if current_page?("/chatbot_steps/select_symptoms")%>
             nav-item">
              <i class="fa fa-laptop" aria-hidden="true"> </i><%= link_to "Chatbot", chatbot_steps_path, class: "mx-2 " %>
            </li>

            <li class="nav-link <%= 'active' if current_page?(store_locators_path) %> nav-item">
              <i class="fa fa-map" aria-hidden="true"></i> <%= link_to "Maps", store_locators_path, class: "mx-2 " %>
            </li><!-- https://docs.ubuntu.com/landscape/en/api mapbox api from pito --> 

            <li class="nav-link <%= 'active' if current_page?(reminders_path) %> nav-item"> 
              <a href="#" class="notification">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <span>Reminders</span>
              <!-- if reminders.unread? -->
              <span class="badge">3</span> <!--reminders.unread.length-->
              <!--  end // also to emails --> 
              </a>
            </li><!-- https://github.com/joneilloine/example-code/blob/master/JavaScript/ext-2.0.2/air/samples/tasks/reminder.html -->

            
            <li class="nav-link <%= 'active' if current_page?(current_user) %> nav-item">
              <div class="row">
                <div class="col-8">
                  <i class="fa fa-user" aria-hidden="true"></i><%= link_to "My Account", current_user, class: "mx-2 "  %>
                </div>
            
                  <!--<%= link_to "My Account", current_user, class: "mx-2 " %>-->
                  <a href="/"> 
                    <!--<span style="background-image: url('prabu_front.png')"></span>-->
                      <div class="dot">
                        <%= image_tag current_user.gravatar_url(:email => current_user.email)%>
                      </div>
                  </a>
              </div>
            </li>

            <li class="nav-link nav-item">
              <i class="fa fa-sign-out" aria-hidden="true"></i> <%= link_to 'Sign out', sign_out_path, class: "mx-2 ", method: :delete %>
            </li>

          <% else %>
            <i class="fa fa-sign-in" aria-hidden="true"></i> <li ><%= link_to 'Sign in', sign_in_path, class: "mx-2 " %></li>
          <% end %>
        </ul>
        
      </div>
    </nav>
    
    <div class="container">
      <%= yield -%>
    </div>
    <!-- >
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
    <script>  
      $(function () {
        $('.example-popover').popover({
          container: 'body'
        })
      })
    </script>
    idk who put the script in but it doesnt work-->

    <!-- suprise cool background JS - maybe for just the home page? -->
  <!--
    <script>
    var canvas = document.getElementById('myCanvas'); 
    var context = canvas.getContext('2d'); 
    context.fillRect(0, 0, 50, 50);

    context.beginPath(); 
    context.moveTo(0, 0); 
    context.lineTo(100, 100); 
    context.lineWidth = 1; 
    context.strokeStyle = 'rgb(255, 150, 168)'; 
    context.stroke();

    </script>
  -->

    <!-- for the chatbot popup -->
    <div class="row">
      <% if signed_in? %>
        <div class=circle>
          <a href="/chatbot_steps">
            <i class="fa fa-desktop" aria-hidden="true" style="position: fixed; bottom: 8px; right: 16px;font-size:48px;color:#42ba96; "> </i>
          </a>
        </div>
      <% end %>
    </div>
  
  
  
  <footer class="row justify-content-center " style="height: 20px; width: 100%; color: white; background-color:#92B78B; text-align: center;">
    <p style="text-align: center;left:0; bottom:0;"> 
      &emsp; &emsp;
      <a href="https://plant-clinique.herokuapp.com/sign_in">
        Plant-Clinique.com
      </a> 
      &emsp;
      <a href="https://bioonecareercenter.org/jobs?utm_source=google&utm_medium=adwords&gclid=CjwKCAjwgZuDBhBTEiwAXNofRIU9VIuy_4E1BAnJ3PMkr3URiDchCbLkKIaZIXNYOm4whh6FXKz_ZhoCE3YQAvD_BwE">
        Careers
      </a> 
      &emsp;
      <a href="https://www.pilea.com/post/top-5-blogs-about-houseplants">
        Blogs
      </a> 
      &emsp;
      <a href="https://assets.cdnpandadoc.com/app/packages/templates/@covers/declaration-of-trust-template-ev1-fed8bf649a.jpg">
        Documentation
      </a> 
      &emsp;
      <a href="https://i2.wp.com/theconstructor.org/wp-content/uploads/2017/04/hinge-support-in-sydney-harbor-bridge.jpg?fit=564%2C373&ssl=1">
        Support
      </a> 
      &emsp;
      <a href="https://www.thelongestthread.com/pages/terms-of-service">
        Terms of Service
      </a> 
      &emsp;
      <a href="https://www.nielsen.com/us/en/legal/privacy-statement/website-privacy-statement/">
        Privacy
      </a> 
      &emsp;
      <a href="https://www.womensbeanproject.com/recipes/snickerdoodle-cookie-recipe/?gclid=CjwKCAjwgZuDBhBTEiwAXNofRH2Jme4S7BamfD7WNKRPJeqVWUOVK9HEfHHHq06XlKGGbqSB5HwSuRoC3-gQAvD_BwE">
        Cookies
      </a> 
      &emsp;
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        ©Troll.gov
      </a> 
      &emsp; &emsp; 
    </p>

  </footer>
  </body>
  
</html>