<!DOCTYPE html>
<html>
  <head>
    <title>Plant-Clinique</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>


  <body style = "background-color: #98FFB3">
    <nav class="navbar p-3 mb-4 bg-warning">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="header"> <%= link_to "Plant-Clinique", current_user, class: "mx-2 " %></div>
        </div>
        <ul class="nav navbar-right">
          <% if signed_in? %>

            <li class="nav-link <%= 'active' if current_page?(users_path) %> nav-item">
              <%= link_to "My Account", current_user, class: "mx-2 " %>
            </li>

            <!--<li class="nav-link <%= 'active' if current_page?(reminders_path) %> nav-item">
              <%= link_to "Reminder", reminders_path, class: "mx-2 " %>
            </li>-->

            <li class="nav-link <%= 'active' if current_page?(posts_path) %> nav-item">
              <%= link_to "Post", posts_path, class: "mx-2 " %>
            </li>

            <!--<li class="nav-link <%= 'active' if current_page?(posts_path) %> nav-item">
              <%= link_to "Reply", posts_path, class: "mx-2 " %>
            </li>-->


            <li class="nav-link <%= 'active' if current_page?(chatbot_messages_path) %> nav-item">
              <%= link_to "Chatbot", chatbot_messages_path, class: "mx-2 " %>
            </li>

            <li class="nav-link nav-item">
              <%= link_to 'Sign out', sign_out_path, method: :delete, class: "mx-2" %></u></li>
            </li>

          <% else %>
            <li ><u><%= link_to 'Sign in', sign_in_path, class: "mx-2 " %></u></li>
          <% end %>
        </ul>
        
      </div>
    </nav>
    
    <div class="container">
      <%= yield -%>
    </div>
    <div style="height:100px"></div>
  </body>
</html>


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
            .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: green;
            color: white;
            text-align: center;
            }
            </style>
    </head>
        <body>


        <div class="footer">
            <p>link to: git, homepage, doccumentation, support, terms of serive, privacy, cookies, copyright @ pito </p>
        </div>

        </body>
</html> 
