<!DOCTYPE html>
<html>
  <head>
    <title>Plant-Clinique</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body style = "background-color: #98FFB3">
    <nav class="navbar p-3 mb-4 bg-warning">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="header">Plant-Clinique</div>
        </div>
        <ul class="nav navbar-right">
          <li><%= link_to "My Account", users_path+"/#{current_user.id.to_i}", class: "mx-2 " %></li>
          <!--<li> <%= link_to "UserPlant", user_plants_path , class: "mx-2 "%></li>-->
          <!-- <li> <%= link_to "Reminder", reminders_path, class: "mx-2 " %></li>-->
          <!--<li> <%= link_to "Post", posts_path, class: "mx-2 " %></li>-->
          <!--<li> <%= link_to "Reply", replies_path, class: "mx-2 " %></li>-->
          <li> <%= link_to "Chatbot", chatbot_messages_path, class: "mx-2 " %></li>
          <% if signed_in? %>
            <li><%= link_to 'Sign out', sign_out_path, method: :delete, class: "mx-2" %></li>
          <% else %>
            <li><%= link_to 'Sign in', sign_in_path, class: "mx-2 " %></li>
          <% end %>
        </ul>
        
      </div>
    </nav>
    <div style = "width:98.3%">
      <%= yield -%>
    </div>
  </body>
</html>
