<!DOCTYPE html>
<html>
  <head>
    <title>Plant-Clinique</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  
    <meta charset='utf-8' />
    <!-- Import Mapbox GL JS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Import jQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <!-- Map gecoder -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
    <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  </head>



  <body >
    <nav class="navbar p-3 mb-4 bg-pc-green uncollapsed" style="z-index: 1;">
      <div class="container-fluid">
        <div class="navbar-header ">
          <div class="header">
          <li class="nav-link header" %>
            <i class="fa fa-leaf" style="color:#9AE19D;" aria-hidden="true" ></i>
              <%= link_to "Plant-Clinique", "/", class: "mx-2 " , style: "color: white; font-size: 30px; font-weight: bold; font-family: 'Brush Script MT', cursive;"%>
            <i class="fa fa-leaf" style="color:#9AE19D;"aria-hidden="true" ></i>
          </li>
          </div>
        </div>

              
        <ul class="nav navbar-right">
          <% if signed_in? %>

          <span>
            <li class="nav-link <%= 'active' if current_page?(main_app.posts_path) %> nav-item">
              <%= button_to main_app.posts_path, method: :get, class: "btn btn-sm text-dark ", style: "background-color: #9AE19D; font-size: 13px;" do %> 
              <i class="fa fa-comments" aria-hidden="true"></i>
                Posts
              <% end %>
            </li>
          </span>

          <span>
            <li class="nav-link
                <%= 'active' if current_page?("/chatbot_steps/choose_visit_type")%> 
                <%= 'active' if current_page?("/chatbot_steps/answer_symptom_questions")%>
                <%= 'active' if current_page?("/chatbot_steps/choose_plant")%>
                <%= 'active' if current_page?("/chatbot_steps/display_possible_treatments")%>
                <%= 'active' if current_page?("/chatbot_steps/select_symptoms")%>
              nav-item">
              <%= button_to main_app.chatbot_steps_path, method: :get, class: "btn btn-sm text-dark ", style: "background-color: #9AE19D;font-size: 13px;" do %> 
              <i class="fa fa-laptop" aria-hidden="true"> </i>
                Chatbot
              <% end %>
            </li>
          </span>
                  
          <span>
            <li class="nav-link <%= 'active' if current_page?(main_app.store_locators_path) %> nav-item">
             <%= button_to main_app.store_locators_path, method: :get, class: "btn btn-sm text-dark ", style: "background-color: #9AE19D;font-size: 13px;" do %> 
              <i class="fa fa-map" aria-hidden="true"></i> 
                Maps
              <% end %>

            </li>
          </span>

          <span>
            <li class="nav-link <%= 'active' if current_page?(notifications_path) %> nav-item"> 
              <%= button_to notifications_path, method: :get, class: " btn-sm text-dark notification ", style: "background-color: #9AE19D;font-size: 13px;border: none;" do %> 
              <i class="fa fa-bell" aria-hidden="true"></i>
              <span>Notifications</span>
              <!-- if reminders.unread? -->
              <span class="badge"><%= Notification.unread_count(current_user.id).to_i %></span> 
              <!--  end // also to emails --> 
              <% end %>
            </li>
          </span>

          <span>
              <li class="nav-link <%= 'active' if current_page?(main_app.reminders_path) %> nav-item"> 
                <%= button_to main_app.reminders_path, method: :get, class: "notification  btn-sm text-dark  ", style: "background-color: #9AE19D;font-size: 13px;border: none;" do %> 
                <i class="fa fa-clock" aria-hidden="true"></i>
                <span>Reminders</span>
                <!-- if reminders.unread? -->
                <span class="badge" style="background-color: blue;"><%= Reminder.where(user_id: current_user).length %></span> <!--reminders.unread.length-->
                <!--  end // also to emails --> 
                <% end %>
              </li>
          </span>

          <span>
            <li class="nav-link <%= 'active' if current_page?(main_app.user_path(current_user.id)) %> nav-item">
              <%= button_to main_app.user_path(current_user.id), method: :get, class: " btn btn-sm text-dark ", style: "background-color: #9AE19D;font-size: 13px;" do %> 
                <i class="fa fa-user" aria-hidden="true"></i>
                My Account
              <% end %>
            </li>
          </span>

          <div class="dot" style="display: inline-block; justify-content: center; align-items: center;">
              <a href=  "/"> <!-- "main_app.user_path(current_user.id)" -->
                <%= image_tag current_user.gravatar_url(:email => current_user.email), style: "border-radius: 50%; "%>
              </a>
          </div>

          <span>
            <li class="nav-link nav-item">
              <%= button_to main_app.sign_out_path,method: :delete, class: "btn-primary text-light " do %> 
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Sign Out
              <% end %>
            </li>
          </span>

          <% else %>

          <span>
            <li class="nav-link nav-item">
              <%= button_to main_app.sign_in_path,method: :delete, class: "btn-primary text-light " do %> 
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Sign In
              <% end %>
            </li>
          </span>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="collapsed-nav">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class=" p-4" style="background-color: #537A5A">
          <h4 >
            <i class="fa fa-leaf"  aria-hidden="true" style="color:#9AE19D;"></i>
              <%= link_to "Plant-Clinique", "/", class: "mx-2 " , style: " color:white;font-size: 30px; font-weight: bold; font-family: 'Brush Script MT', cursive;"%>
            <i class="fa fa-leaf" aria-hidden="true" style="color:#9AE19D;"></i>
          </h4>
          <span class="text-light">
            Extend the page to see your menu options.
          </span>
            
        </div>
      </div>
      <nav class="navbar navbar-dark " style="background-color: #537A5A">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
    
    <div class="container">
      <%= yield -%>
    </div>

    <!-- for the chatbot popup 
    <div class="row">
      <% if signed_in? %>
        <div class=circle>
          <a href="/chatbot_steps">
            <i class="fa fa-desktop" aria-hidden="true" style="position: fixed; bottom: 8px; right: 16px;font-size:48px;color:#42ba96; "> </i>
          </a>
        </div>
      <% end %>
    </div>
    -->
  
  <footer class="row justify-content-center plant-item" style="height: 20px; width: 100%; color: white; background-color:#80827C; text-align: center;">
    <p style="text-align: center;left:0; bottom:0;"> 
      &emsp; &emsp;
      <a href="https://plant-clinique.herokuapp.com/sign_in" style="color:white;">
        Plant-Clinique.com
      </a> 
      &emsp;
      <a href="https://bioonecareercenter.org/jobs?utm_source=google&utm_medium=adwords&gclid=CjwKCAjwgZuDBhBTEiwAXNofRIU9VIuy_4E1BAnJ3PMkr3URiDchCbLkKIaZIXNYOm4whh6FXKz_ZhoCE3YQAvD_BwE" style="color:white;">
        Careers
      </a> 
      &emsp;
      <a href="https://www.pilea.com/post/top-5-blogs-about-houseplants"style="color:white;">
        Blogs
      </a> 
      &emsp;
      <a href="https://assets.cdnpandadoc.com/app/packages/templates/@covers/declaration-of-trust-template-ev1-fed8bf649a.jpg"style="color:white;">
        Documentation
      </a> 
      &emsp;
      <a href="https://i2.wp.com/theconstructor.org/wp-content/uploads/2017/04/hinge-support-in-sydney-harbor-bridge.jpg?fit=564%2C373&ssl=1"style="color:white;">
        Support
      </a> 
      &emsp;
      <a href="https://www.thelongestthread.com/pages/terms-of-service"style="color:white;">
        Terms of Service
      </a> 
      &emsp;
      <a href="https://www.nielsen.com/us/en/legal/privacy-statement/website-privacy-statement/"style="color:white;">
        Privacy
      </a> 
      &emsp;
      <a href="https://www.womensbeanproject.com/recipes/snickerdoodle-cookie-recipe/?gclid=CjwKCAjwgZuDBhBTEiwAXNofRH2Jme4S7BamfD7WNKRPJeqVWUOVK9HEfHHHq06XlKGGbqSB5HwSuRoC3-gQAvD_BwE"style="color:white;">
        Cookies
      </a> 
      &emsp;
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"style="color:white;">
        ©Troll.gov
      </a> 
      &emsp; &emsp; 
    </p>

  </footer>
  </body>

   <script>
  $(window).resize(function() {
  if ($(this).width() < 1300) {
    $('.uncollapsed').hide(); /* hide uncollapsed navbar version */ 
    $('.collapsed-nav').show(); /* show collapsed */
  } else {
    $('.collapsed-nav').hide(); /* hide collapsed */ 
    $('.uncollapsed').show(); /* show uncollapsed */
  }
});
</script>

<script>
if ($(this).width() < 1300) {
  $('.uncollapsed').hide(); /* hide uncollapsed navbar version */ 
  $('.collapsed-nav').show(); /* show collapsed */
}
else  {
  $('.collapsed-nav').hide(); /* hide collapsed */ 
  $('.uncollapsed').show(); /* show uncollapsed */
}
</script>

<script>
console.log('welcome to the plant-clinique log')
</script>

</html>